* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
nav {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

// Views don't like when I don't have the h1, so I hid it
.hideThis {
  color: white;
}
