* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "David Libre", serif;
  background-color: #12527b;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

#formContent {
  height: 500px;
  width: 100%;
  align-content: center;
  margin-left: 38%;
}
#formContent input {
  width: 20%;
  clear: right;
  display: block;
  margin: 10px 0px;
  text-align: center;
}

#content {
  height: 500px;
}

h1,
h2 {
  text-align: center;
}

button {
  background-color: #871042;
  color: #fff;
  padding: 15px 36px;
  font-size: 15px;
}

#studentDisplay {
  width: 20%;
  float: left;
  display: block;
  margin-right: 2.5%;
  margin-bottom: 2.5%;
  height: 450px;
  border: 2px solid #fff;
  border-radius: 10px;
  text-align: center;
  background-color: #871042;
}
#studentDisplay p {
  padding: 1.5px;
}