* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
nav {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.hideThis {
  color: white;
}

nav {
  height: 10.93%;
  background-color: #a0ccaf;
  padding-top: 40px;
  padding-left: 0.67%;
}
nav a {
  color: #fff;
}
nav #home {
  font-size: 1.6em;
  text-decoration: none;
}
nav button {
  width: 7.8125%;
  height: 64.49%;
  border-radius: 25px;
  border: 5px solid #a0ccaf;
  background-color: #a0bdcc;
  color: #fff;
  font-size: 1.6em;
}
nav input {
  width: 61.76%;
  height: 64.49%;
  border-radius: 50px;
  border: 5px solid #a0ccaf;
  padding-left: 1%;
  font-size: 1.38em;
}
nav ::placeholder {
  color: #a0ccaf;
}

#itemContainer {
  margin-left: 4.51%;
  margin-bottom: 50%;
  clear: both;
}
#itemContainer #itemDiv {
  width: 256px;
  height: 256px;
  background-color: #a0bdcc;
  border-radius: 25px;
  border: 5px solid #fff;
  float: left;
  margin: 1.5% 2.5%;
}
#itemContainer #itemDiv img {
  margin: 0 auto;
}
#itemContainer #itemDiv .itemName {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  font-size: 1.2em;
}

#itemPag {
  display: inline-block;
  margin-left: 7.2%;
}
#itemPag a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}
#itemPag a .active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}
#itemPag a a:hover:not(.active) {
  background-color: #ddd;
}
